@import url(./globals.css);
@import url(./nav.css);
@import url(./footer.css);

.cart-address {
  margin: 80px 0 42px 0;
  font-family: var(--font-poppins);
  font-weight: 400;
  color: var(--clr-primary-black);
}
.cart-address .fainted-text {
  opacity: 0.5;
}
section {
  font-family: var(--font-poppins);
  color: var(--clr-primary-black);
  font-size: 1rem;
  font-weight: 400;
  margin-left: 135px;
}
.text-title {
  font-family: var(--font-inter);
  font-weight: 600;
  font-size: 54px;
  padding-bottom: 40px;
}
.text-section {
  max-width: 525px;
}
.about-text {
  margin-bottom: 24px;
}
#text-image-container {
  display: flex;
  gap: 75px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 140px;
}

/* category section */
.category-container {
  margin-top: 3.75rem; /* 60px */
}
.category-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 230px;
  font-family: var(--ff-categories);
  font-weight: var(--fw-categories);
  font-size: 1rem;
  border: 1px solid hsla(0, 0%, 0%, 0.3);
  border-radius: 4px;
  cursor: pointer;
}
.category-div:hover {
  background-color: var(--clr-secondary-red);
  color: var(--clr-primary-white);
  transition: all 300ms ease-in-out;
}
.category-div:hover svg path {
  fill: black;
  stroke: white;
  accent-color: white;
  transition: all 300ms ease-in-out;
  background: transparent;
}
.category-div svg {
  background-color: transparent;
  width: 80px;
  height: 80px;
}
#category-list {
  display: flex;
  list-style: none;
  column-gap: 30px;
  margin-bottom: 140px;
}
#second-svg path {
  fill: #2f2e30;
  stroke: white;
  color: white;
}

/* EXECUTIVES */
.executive-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 140px;
}
.executives img {
  width: 370px;
  height: 430px;
  object-fit: cover;
  margin-bottom: 32px;
}
.executive-name {
  font-family: var(--font-inter);
  font-weight: 500;
  font-size: 32px;
}
.position {
  font-family: inherit;
  margin-bottom: 16px;
}
.connect {
  display: flex;
  gap: 1rem;
}
.category-name {
  font-family: var(--font-inter);
  font-weight: 700;
  font-size: 32px;
  margin-top: 24px;
}

/* SERVICES */

.service-item img {
  width: 80px;
  height: 80px;
}
.service-item {
  display: flex;
  flex-direction: column;
  font-family: var(--font-poppins);
  justify-content: center;
  align-items: center;
}
.service-name {
  font-weight: 600;
  font-size: 20px;
}
.service-desc {
  font-weight: 400;
  font-size: 14px;
  margin-top: 8px;
}
.service-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.services-flex {
  margin: 140px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 942px;
}
