@import url(./globals.css);
@import url(./nav.css);
@import url(./footer.css);

/* HEADER */
header {
  background: var(--clr-text-black);
}
.header-container {
  display: flex;
  font-family: var(--font-poppins);
  color: hsla(0, 0%, 98%, 1);
  font-size: 0.875rem;
  line-height: 21px;
  padding: 15px 0px;
  font-weight: 400;
  justify-content: center;
  flex-wrap: wrap;
}
.header-text {
  margin-inline-end: 230px;
}
.shopnow {
  font-weight: 600;
}
.header-container > select {
  color: white;
  background-color: black;
  border: none;
}

.search-container {
  display: flex;
  background-color: var(--clr-secondary-ash);
  align-items: center;
  justify-content: space-between;
  width: 15.1875rem;
}
.search-container img {
  width: 24px;
  height: 24px;
  margin: 7px 12px;
}

/* MIDDLE SECTION */
.main-section {
  display: flex;
  margin-top: 60px;
  max-width: 1305px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 140px;
}
.image-container {
  height: 781px;
  width: 805px;
  border-radius: 4px;
  background: hsla(188, 39%, 85%, 1);
  overflow: hidden;
}
.image-container > img {
  position: relative;
  object-fit: cover;
  top: 75px;
}
.text-space {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
}
.input-container input {
  margin-bottom: 40px;
  border: none;
  font-size: 1rem;
  font-family: var(--font-poppins);
  padding: 8px;
  color: var(--clr-text-black);
  opacity: 40%;
  border-bottom: 1px solid hsla(0, 0%, 0%, 1);
}
.main-heading {
  font-family: var(--font-inter);
  font-weight: 500;
  font-size: 36px;
}
.sub-heading {
  font-family: var(--font-poppins);
  font-size: 1rem;
  margin-top: 24px;
}
.text-space button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-poppins);
  font-weight: 400;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
}
.text-space button img {
  width: 24px;
  height: 24px;
  margin-right: 1rem;
}
.create-acct {
  background-color: var(--clr-secondary-red);
  color: var(--clr-primary-white);
  border: none;
  padding: 14px 48px;
}
.flex-buttons .create-acct a {
  text-decoration: none;
  color: var(--clr-primary-white);
}
.google-signup {
  background-color: transparent;
  border: 1px solid hsla(0, 0%, 0%, 0.4);
  color: var(--clr-primary-black);
  margin-top: 1rem;
}
.last-text {
  font-family: var(--font-poppins);
  font-weight: 400;
  font-size: 1rem;
  color: var(--clr-secondary-red);
  opacity: 70%;
  margin-left: 86px;
}
.last-text a {
  font-family: var(--font-poppins);
  font-weight: 500;
  color: hsla(0, 68%, 56%, 1);
  text-decoration: none;
}
.flex-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
