@import url(./globals.css);
@import url(./nav.css);
@import url(./products.css);
@import url(./footer.css);

/* CATEGORY SECTION */
.item-category-section {
  display: flex;
  overflow: hidden;
  max-width: 1170px;
  margin: 0 auto 8.75rem;
}
.category-list {
  list-style: none;
  font-family: var(--font-poppins);
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  margin-right: 1rem;
  width: 220px;
}

.category-left {
  margin: 2.5rem 0rem 0 0rem;
  font-family: var(--font-poppins);
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
}
.category-left li:not(:last-child) {
  display: flex;
  margin-bottom: 1em;
  align-items: center;
  justify-content: space-between;
}
.category-left .category-list a {
  color: var(--clr-text-black);
  text-decoration: none;
  cursor: pointer;
}

.category-left .category-list a:hover {
  text-decoration: underline;
}
.category-left li img {
  position: relative;
  display: inline-block;
  vertical-align: top;
  object-fit: cover;
  width: 25px;
  height: 25px;
  justify-self: end;
}
.category-list .flex-for-arrow {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.vertical-seperator {
  border-right: 1px solid hsla(0, 0%, 0%, 1);
  opacity: 30%;
}

.phone-container {
  display: flex;
  width: 892px;
  height: 344px;
  overflow: hidden;
  margin-left: 2.8125rem;
  margin-top: 2.5rem;
  background: black;
  position: relative;
  padding-top: 1rem;
  max-height: 344px;
}
.category-right p {
  color: var(--clr-text-white);
  font-size: 3rem;
  font-family: Inter;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 0.04em;
  text-align: left;
  max-width: 294px;
}
.i-phone-details {
  max-width: 294px;
  margin: auto;
}
.i-phone-details > img {
  width: 190px;
  height: 49px;
}
.i-phone-details a {
  display: inline-block;
  font-family: var(--font-poppins);
  padding-top: 22px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--clr-text-white);
  text-decoration: none;
}
.i-phone-details a img {
  width: 16.5px;
  height: 14px;
}

.i-phone-details p {
  padding-top: 1.67rem;
}

/* FLASH SALES SECTION*/
.rectangle-element {
  width: 20px;
  height: 40px;
  background: var(--clr-secondary-red);
  border-radius: 4px;
}
.red-container {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 24px;
}
.red-container p {
  color: var(--clr-text-red);
  font-family: var(--ff-section-headings);
  font-weight: var(--fw-section-headings);
  font-size: 1rem;
  padding-left: 10px;
}
.section-heading {
  font-family: var(--ff-flash-sales-time);
  font-weight: var(--fw-flash-sales);
  font-size: 2.25rem;
  line-height: 48px;
}
.heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.timer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-poppins);
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  gap: 17px;
}
.time-number {
  font-family: var(--font-inter);
  font-weight: 700;
  font-size: 2rem;
  line-height: 30px;
}
.time-colons {
  font-size: 2.5rem;
  color: hsla(0, 63%, 67%, 1);
}
.joint-arrow-section {
  display: flex;
  align-items: center;
  gap: 8px;
}
.joint-arrow-section img {
  object-fit: cover;
  width: 1rem;
  height: 0.875rem;
}
.arrow-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.875rem;
  height: 2.875rem;
  border-radius: 100%;
  background-color: var(--clr-secondary-ash);
  border: none;
  cursor: pointer;
}
.arrow-btn:hover {
  background-color: hsla(0, 63%, 67%, 1);
  color: var(--clr-primary-white);
}

/* PRODUCTS */

/* CATEGORY SECTION */
.category-container {
  margin-top: 3.75rem; /* 60px */
}
.category-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10.625rem; /* 170px */
  height: 9.0625rem; /* 145px */
  font-family: var(--ff-categories);
  font-weight: var(--fw-categories);
  font-size: 1rem;
  border: 1px solid hsla(0, 0%, 0%, 0.3);
  border-radius: 4px;
  row-gap: 1rem;
  cursor: pointer;
}
.category-div:hover {
  background-color: var(--clr-secondary-red);
  color: var(--clr-primary-white);
  transition: all 300ms ease-in-out;
}
.category-div:hover img {
  filter: invert(100%) sepia(2%) saturate(2%) hue-rotate(292deg)
    brightness(105%) contrast(96%);
  background-color: transparent;
  transition: all 300ms ease-in-out;
}
.category-div img {
  background-color: transparent;
  width: 3.5rem;
  height: 3.5rem;
}
#category-list {
  display: flex;
  list-style: none;
  column-gap: 1.875rem;
}
.top-marg {
  margin-top: 4.375rem; /* 70px for margin seperator*/
}

/* BEST SELLING SECTION */
.make-flex {
  max-width: 1170px;
  margin: 8.75rem auto 4.4375rem auto;
  height: 500px;
  background-color: var(--clr-primary-black);
}
.text-box {
  width: 443px;
  display: flex; /* 32px gap */
  flex-direction: column;
  font-family: var(--font-poppins);
  font-size: 1rem;
  color: var(--clr-primary-black);
  justify-content: center;
  align-items: flex-start;
  row-gap: 32px;
}
.green-text {
  color: var(--clr-tertiary-green);
}
.music-experience {
  width: 443px;
  height: 120px;
  font-size: 3rem;
  font-family: Inter;
  font-weight: 600;
  line-height: 60px;
  color: var(--clr-primary-white);
}
.white-circle {
  display: flex;
  flex-direction: column;
  width: 62px;
  height: 62px;
  background-color: var(--clr-primary-white);
  border-radius: 50%;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
}
.white-circle > .time-number {
  font-weight: 600;
  font-size: 1rem;
  height: 20px;
}
.white-circle > .time-days {
  font-weight: 400;
  font-size: 11px;
  height: 18px;
}
.time-days,
.time-number {
  text-align: center;
}
.text-box > .timer-container {
  justify-content: left;
}
.green-buy-btn {
  font-weight: 500;
  color: var(--clr-primary-white);
  border: none;
  cursor: pointer;
  padding: 16px 48px;
  width: 171px;
  border-radius: 4px;
  background-color: var(--clr-tertiary-green);
  margin-top: 40px;
}
.jam-box {
  position: relative;
  width: 568px;
  height: 330px;
  z-index: 1;
}
.make-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ellipse {
  position: absolute;
  object-fit: cover;
  z-index: -1;
  width: 504px;
  height: 500px;
  opacity: 100%;
  top: -85px;
  left: 20px;
  filter: blur(50px);
}

/* PRODUCT EXPLORATION */
.adjusted-product-detail {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.adjusted-product-detail img {
  width: 6.25rem;
  height: 1.25rem;
}
.adjusted-product-detail .rating-count {
  bottom: -2px;
}
.adjusted-product-detail .present-price {
  bottom: -2px;
  position: relative;
  padding-right: 0;
}

/* NEW ARRIVAL SECTION */

.arrival-item {
  background-color: var(--clr-primary-black);
  color: var(--clr-primary-white);
  position: relative;
  display: flex;
  justify-content: center;
  z-index: -6;
}
.grid-arrival-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 600px;
  position: relative;
  gap: 30px;
  margin-top: 60px;
}
.arrival-item-name {
  font-family: var(--font-inter);
  font-size: 24px;
  font-weight: 600;
}
.arrival-item-desc {
  font-family: var(--font-poppins);
  font-size: 14px;
  font-weight: 400;
}
.first > img {
  width: 511px;
  height: 511px;
}
.second > img {
  width: 432px;
  height: 286px;
}
.third > img {
  width: 190px;
  height: 221px;
}
.fourth > img {
  width: 201px;
  height: 203px;
}
.first {
  grid-area: 1/1/3/2;
}
.second {
  grid-area: 1/2/2/4;
  overflow: hidden;
}
.third {
  grid-area: 2/2/3/3;
}
.fourth {
  grid-area: 2/3/3/4;
}
.arrival-text-container {
  position: absolute;
  display: flex;
  justify-content: left;
  flex-direction: column;
  row-gap: 16px;
  left: 32px;
  bottom: 32px;
  max-width: 255px;
}
.arrival-item img {
  position: absolute;
  bottom: 0;
  z-index: 0;
}
.second img {
  right: 2px;
  background: transparent;
}
.arrival-item .arrival-text-container .shopnow-link {
  color: var(--clr-text-white);
  text-decoration: none;
  cursor: pointer;
  font-family: var(--font-poppins);
  font-weight: 500;
  font-size: 16px;
  display: inline-block;
  width: fit-content;
}
.arrival-item .arrival-text-container .shopnow-link:hover {
  border-bottom: 1px solid var(--clr-secondary-ash);
}
.third-text,
.fourth-text {
  row-gap: 8px;
  bottom: 20px;
  left: 20px;
}
.arrival-item.third > .bg-ecclipse,
.arrival-item.fourth > .bg-ecclipse {
  position: absolute;
  width: 100%;
  height: 285px;
  z-index: -2;
}
.arrival-item.third > .bottom-fix3 {
  bottom: 32px;
}
.arrival-item.fourth > .bottom-fix4 {
  bottom: 41px;
}
/* SERVICES SECTION */
.service-item img {
  width: 80px;
  height: 80px;
}
.service-item {
  display: flex;
  flex-direction: column;
  font-family: var(--font-poppins);
  justify-content: center;
  align-items: center;
}
.service-name {
  font-weight: 600;
  font-size: 20px;
}
.service-desc {
  font-weight: 400;
  font-size: 14px;
  margin-top: 8px;
}
.service-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.services-flex {
  margin: 140px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* FOOTER */
